$dark-green: #446961;
$green: #A2C7B3;
$light-green: #D6E2DD;
$light-white: #fff;
$fontSecond: 'IBM Plex Mono', monospace;
$fontMain: 'Druk Wide', serif;
$s: 414px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
p {
  font-family: IBM Plex Mono;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0em;
}

h1, h2, h3 {
  font-family: Druk Wide;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  margin: 1em 0;

}

@mixin sm {
  @media (min-width: $sm) {
    @content
  }
}

;
@mixin s {
  @media (min-width: $s) {
    @content
  }
}

;
@mixin md {
  @media (min-width: $md) {
    @content
  }
}

;
@mixin lg {
  @media (min-width: $lg) {
    @content
  }
}

;
@mixin xl {
  @media (min-width: $xl) {
    @content
  }
}

;
@mixin xxl {
  @media (min-width: $xxl) {
    @content
  }
}

;

body {
  background-color: $light-green;
  color: $dark-green;
}

.body, html {
  height: 100%;
  min-height: 100vh;
}

.header, footer {
  flex-grow: 0;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
}

.title {
  display: block;
  margin: 0;
  font-size: 22px;
  font-family: $fontMain;
  text-align: left;
  padding-bottom: 10px;
  line-height: 1.2;
  @media screen and(min-width: $md) {
    font-size: 28px;
    padding-bottom: 40px;
  }
  @media screen and(min-width: $lg) {
    font-size: 36px;
    padding-bottom: 50px;
  }
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: relative;
  overflow: hidden;

}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: inherit;
}


h1, h2, h3, h4 {
  text-transform: uppercase;
  line-height: 1.5;
}

figure {
  margin: 0;
  padding: 0;
  font-size: 0;
}

img {
  max-width: 100%;
  object-fit: cover;
}
 
 