

.blog-section {
  color: $light-white;
  display: flex;
  align-items: center;
  justify-content: center;

  &__hero-bg-img {
    position: absolute;
    z-index: -1;
    top: 100px;

    img {
      display: block;
      object-fit: cover;
    }
    &_radius{ 
      top: auto;     
      img{
        border-radius: 25px;
        max-height: 380px;
      }
    }
  }

  &__hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }

  &__data {
    @media screen and(min-width: $md) {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }
    @media screen and(min-width: $s) {
      font-size: 16px;
    }
  }

  &__title {
    text-align: center;
    @media screen and(min-width: $s) {
      font-weight: 500;
      line-height: 120%;
      font-size: 25px;
    }

    @media screen and(min-width: $md) {
      font-size: 48px;
    }
    &_main{
      max-width: 660px;
      font-size: 18px;
      @media screen and(min-width: $md) {
        font-size: 30px;
      }
    }
  }

  &__about {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  &__about-container {
    max-width: 885px;
    width: 100%;
    padding: 0 15px;
  }

  &__about-title {
    font-family: IBM Plex Mono;
    font-weight: 600;
    line-height: 130%;
    text-align: left;
    color: $dark-green;
    max-width: 660px;
    width: 100%;
    text-transform: none;
    @media screen and(min-width: $s) {
      font-size: 18px;
    }

    @media screen and(min-width: $md) {
      font-size: 24px;
    }
  }

  &__about-content {
    @media screen and(min-width: $s) {
      text-align: left;
      font-size: 12px;
    }

    @media screen and(min-width: $md) {
      font-size: 14px;
    }
  }

  &__place {
    @extend .blog-section__about;
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__place-container {
    @extend .blog-section__about-container;
  }

  &__place-title {
    @extend .blog-section__about-title;
  }

  &__place-content {
    @extend .blog-section__about-content;
  }

  &__info {
    @extend .blog-section__about;
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
  }

  &__info-container {
    @extend .blog-section__about-container;
  }

  &__info-main-title {
    @media screen and(min-width: $s) {
      text-align: left;
      font-weight: bold;
      font-size: 25px;
      line-height: 118.5%;
    }

    @media screen and(min-width: $md) {
      font-size: 36px;
      text-align: left;
    }
  }

  &__info-sub-title {
    @extend .blog-section__about-title;
  }

  &__info-content {
    @extend .blog-section__about-content;
  }

  &__info-links {
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: flex-end;

    @media screen and(min-width: $md) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__info-share {
    @media screen and(min-width: $s) {
      padding: 0;
    }
    @media screen and(min-width: $md) {
      padding-right: 35px;
    }
  }

  &__info-link {
    font-family: $fontSecond;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-decoration: underline;
    padding-left: 25px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__visit {
    color: $green;
    background-color: $dark-green;
    padding: 15px;
  }

  &__visit-title {
    @extend .blog-section__info-main-title;
  }

  &__visit-sub-title {
    @extend .blog-section__about-title;
    color: $green;
    line-height: 20%;
    padding-bottom: 30px;

  }
  &__articles{
    padding-bottom: 70px;
    @media screen and(min-width: $md) {
      padding-bottom: 40px;
      padding-top: 30px;
    }
  }
  &__articles-wrap{
    position: relative;
    height: 400px;
  }
}