

.blog-section {
  position: relative;
  color: $light-white;
  display: flex;
  align-items: center;
  justify-content: center;
  @include s {
    padding:40px 10px;
  }
  @include md {
    padding: 80px 10px;
  }
  @include lg {
    padding: 160px 10px;
  }


  &__hero-bg-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    img {
      height: 100%;
      width: 100%;
      display: block;
      object-fit: cover;
    }
    &_radius{
      top: auto;
      img{
        border-radius: 25px;
        max-height: 380px;
      }
    }
  }

  &__hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
  }

  &__data {
    @media screen and(min-width: $md) {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }
    @media screen and(min-width: $s) {
      font-size: 16px;
    }
  }

  &__title {
    max-width: 900px;
    text-align: center;
    @media screen and(min-width: $s) {
      font-weight: 500;
      line-height: 120%;
      font-size: 25px;
    }

    @media screen and(min-width: $md) {
      font-size: 48px;
    }
    &_main{
      max-width: 660px;
      font-size: 18px;
      @media screen and(min-width: $md) {
        font-size: 30px;
      }
    }
  }

  &__about {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }

  &__about-container {
    max-width: 885px;
    width: 100%;
    padding: 0 15px;
  }

  &__about-title {
    font-family: IBM Plex Mono;
    font-weight: 600;
    line-height: 130%;
    text-align: left;
    color: $dark-green;
    max-width: 660px;
    width: 100%;
    text-transform: none;
    @media screen and(min-width: $s) {
      font-size: 18px;
    }

    @media screen and(min-width: $md) {
      font-size: 24px;
    }
  }

  &__about-content {
    @media screen and(min-width: $s) {
      text-align: left;
      font-size: 12px;
    }

    @media screen and(min-width: $md) {
      font-size: 14px;
    }
  }

  &__place {
    @extend .blog-section__about;
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &__place-container {
    padding-bottom: 75px;
    @extend .blog-section__about-container;
    h3{
      font-family: $fontSecond;
      font-weight: 600;
      line-height: 130%;
      text-align: left;
      color: $dark-green;
      max-width: 660px;
      width: 100%;
      text-transform: none;
      @media screen and(min-width: $s) {
        font-size: 18px;
      }

      @media screen and(min-width: $md) {
        font-size: 24px;
      }
    }

    p{
      @media screen and(min-width: $s) {
        text-align: left;
        font-size: 12px;
      }

      @media screen and(min-width: $md) {
        font-size: 14px;
      }
    }
    h2{
      @media screen and(min-width: $s) {
        text-align: left;
        font-weight: bold;
        font-size: 25px;
        line-height: 118.5%;
        padding-top: 20px;
      }

      @media screen and(min-width: $md) {
        font-size: 36px;
        text-align: left;
      }
    }
    img{
      max-width: 100% !important;
      height: 100% !important;
    }
  }

  &__info {
    @extend .blog-section__about;
    padding-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 35px;
  }

  &__info-container {
    @extend .blog-section__about-container;
  }

  &__info-links {
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
    flex-direction: column;
    align-items: flex-end;

    @media screen and(min-width: $md) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__info-share {
    @media screen and(min-width: $s) {
      padding: 0;
    }
    @media screen and(min-width: $md) {
      padding-right: 35px;
    }
  }

  &__info-link {
    font-family: $fontSecond;
    font-weight: 600;
    font-size: 18px;
    line-height: 110%;
    text-decoration: underline;
    padding-left: 25px;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__visit {
    color: $green;
    background-color: $dark-green;
    padding: 15px;
  }

  &__visit-title {
    @media screen and(min-width: $s) {
      text-align: left;
      font-weight: bold;
      font-size: 25px;
      line-height: 118.5%;
    }

    @media screen and(min-width: $md) {
      font-size: 36px;
      text-align: left;
    }
  }

  &__visit-sub-title {
    @extend .blog-section__about-title;
    color: $green;
    line-height: 20%;
    padding-bottom: 30px;

  }
  &__articles{
    padding-bottom: 70px;
    @media screen and(min-width: $md) {
      padding-bottom: 40px;
      padding-top: 30px;
    }
  }
  &__articles-wrap{
    position: relative;
    height: 400px;
  }
}


.blog-page-preview{
  background: linear-gradient(163.93deg, #3A5F57 -10.34%, rgba(162, 199, 179, 0) 175.11%);
  padding: 20px 10px;
  margin-bottom: 50px;
  height: 250px;
  @include lg {
 height: 382px;
 margin-bottom: 100px;
  }

  border-radius: 25px;
position: relative;
    &__img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 25px;
      overflow: hidden;
      img{
          height: 100%;
          width: 100%;
      }
     }
     &__container{
       position: relative;
      text-align: center;
      color: #E7F8F4;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      width: 100%;
      max-width: 400px;
      @include lg {
        max-width: 700px;
      }
      margin-left: auto;
      margin-right: auto;
     }
     &__title{
      font-family: Druk Wide;
      font-size: 14px;
      @include s{
        font-size: 18px;
      }
      text-align: center;
      @include lg{
          font-size: 30px;
      }

     }

}