$main-button:$dark-green;
$main-button-hover:rgb(9, 65, 9);
 
.button{ 
  display: inline-block;
    padding:12px 53px;
    @include md {
      padding:12px 70px;
    }
    @include lg {
      padding:12px 80px;
    }
    background-color: $main-button;
    border:solid $main-button; 
    color:white;
    border-radius: 4px;
      cursor: pointer;
      font-family: IBM Plex Mono;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 1.2;
      letter-spacing: 0em;
      text-align: center; 
      text-transform: uppercase;
      transition: .2s;

      span {
        transition: .2s;
        vertical-align: text-top;
      }
     &:hover{ 
        background-color: lighten($dark-green , 10%);
        border-color: lighten($dark-green , 10%);

        span {
          transform: translateX(2px);
          display: inline-block;
        }
      }
    
      &:active{
        background-color: lighten($dark-green , 15%);
        border-color:lighten($dark-green , 15%);
      }

    &__mobile{
      display: block;
      max-width: 250px;
      width: 100%;
      margin: 0 auto;
      @include lg {
        display: none;
      }
    }
    &__desctop{
      display: none;
      @include lg {
        display: block;
      }
    }
  }
  
  
 


