.card-categories {
	height: 50vw;
	max-height: 390px;
	min-height: 230px;
	text-align: center;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	&:hover {
		.card-categories {

			&__background {
				box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, .5);
			}

			&__text {
				&::after {
					transform: scaleX(1);
					transform-origin: 0% 50%;
				}
			}
		}
	}

	&__background {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 20%;
		background: #A2C7B3;
		border-radius: 25px;
		transition: .2s;
	}

	&__img__container {
		position: relative;
		z-index: 1;
		flex-grow: 1;

	}

	&__img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		height: 100%;

		img {
			height: 100%;
		}
	}

	&__text {
		width: max-content;
		position: relative;
		font-family: Druk Wide;
		font-size: 15px;

		@include md {
			font-size: 18px;
		}

		@include lg {
			font-size: 24px;
		}

		font-style: normal;
		font-weight: 500;
		text-align: center;
		margin: 1px auto 11px;

		&:after {
			content: '';
			display: block;
			border-bottom: 4px solid $dark-green;
			transform: scaleX(0);
			transition: transform 250ms ease-in-out;
		}
	}
}

.card-link-to-blog {
	&__img {
		background: linear-gradient(223.93deg, #A2C7B3 -15.98%, rgba(162, 199, 179, 0) 137.72%);
		border-radius: 25px;
		height: 382px;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
		}

		margin-bottom: 25px;

	}

	time {
		font-family: IBM Plex Mono;
		font-size: 16px;

		@include lg {
			font-size: 18px;
		}

		text-align: left;
	}

	&__title {
		font-size: 18px;

		@include lg {
			font-size: 30px;
			margin-top: 10px;
		}

		line-height: 1.3;
	}
}