 
@font-face {
    font-family: 'Druk Wide';
    src: url('../fonts/DrukWide/DrukWide-Bold.woff2') format('woff2'),
        url('../fonts/DrukWide/DrukWide-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Druk Wide';
    src: url('../fonts/DrukWide/Druk-WideMedium.woff2') format('woff2'),
        url('../fonts/DrukWide/Druk-WideMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

