.footer{
  padding: 40px 50px 30px 50px; 
  background-color:$dark-green;
  color:white;
  &__wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    margin-bottom: 25px;
  }
  &__block{
    width: 100%;
    text-align: center;
    font-family: $fontSecond;
    font-weight: 400;
    font-size: 12px;
    padding: 0 15px;
    padding-bottom: 20px;
    @media screen and(min-width: $sm) {
      width: 33%;
      padding: 0 15px;
      text-align: left;
    }
    @media screen and(min-width: $xl) {
      width: 20%;
    }
  }
  &__title{
    display: block;
    font-family: $fontMain;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 10px; 
    letter-spacing: 1px;
    @media screen and(min-width: $lg) {
      padding-bottom: 20px; 
    }
  }
  &__text{   
    margin: 0;
    padding-bottom: 10px;
    @media screen and(min-width: $md) {
      padding-bottom: 20px;
    }
  }
  &__flex{
    display: flex;
    justify-content: center;
    @media screen and(min-width: $md) {
      justify-content: start;
    }
  }
  &__list{
    list-style: none;
    padding: 0;
    padding-right: 20px;
    margin: 0; 
    li{
      padding-bottom: 5px;
      @media screen and(min-width: $md) {
        padding-bottom: 10px;
      }
    }    
    @media screen and(min-width: $lg) {
      padding-right: 30px;
    }
    @media screen and(min-width: $xl) {
      padding-right: 40px;
    }
  }
  &__bl{
    display: flex;
    justify-content: space-between;
  }
  &__copyright{
    font-family: $fontSecond;
    font-size: 10px;
  }
  &__social{
    display: flex;
  }
  &__icon{
    width: 20px;
    height: 20px;
    margin: 0 10px;
    fill: #fff;
  }
}
