.footer{
  padding: 40px 50px 30px 50px; 
  background-color:$dark-green;
  color:$light-white;
  &__wrap{
    width: 100%;    
    padding-bottom: 30px;
    max-width: 1000px;
    @media screen and(min-width: $lg) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__block{
    text-align: center;
    font-family: $fontSecond;
    font-weight: 400;
    font-size: 12px;
    padding-bottom: 20px;    
    max-width: 400px;
    margin: 0 auto;
    @media screen and(min-width: $sm) {
      text-align: left;
    }
    @media screen and(min-width: $lg) {
      max-width: none;
      width: auto;
    }
  }

  &__title {
    display: block;
    font-family: $fontMain;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 10px;
    letter-spacing: 1px;

    @media screen and(min-width: $lg) {
      padding-bottom: 20px;
    }
  }

  &__text {
    margin: 0;
    padding-bottom: 10px;

    @media screen and(min-width: $md) {
      padding-bottom: 20px;
    }
  }
  &__flex{
    @media screen and(min-width: $sm) {
      display: flex;
      flex-wrap: wrap;

    }
  }

  &__list {
    list-style: none;
    padding: 0;    
    margin: 0; 
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
    @media screen and(min-width: $sm){
      padding-right: 20px;
    }
    @media screen and(min-width: $lg) {
      width: auto;
      max-width: none;
    }
    li{
      width: max-content;
      padding-bottom: 5px;
      margin: 0 auto;
      @include sm {
        margin: 0;
      }

      @include md {
        padding-bottom: 10px;
      }
    }

    @media screen and(min-width: $lg) {
      padding-right: 30px;
    }

    @media screen and(min-width: $xl) {
      padding-right: 40px;
    }

    a {

      &::after {
        content: '';
        display: block;
        border-bottom: 2px solid $light-white;
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }

      &:hover {
        &::after {
          transform: scaleX(1);
          transform-origin: 0% 50%;
        }
      }
    }
  }

  &__bl {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
    border-top: 1px solid $light-white;
  }

  &__copyright {
    font-family: $fontSecond;
    font-size: 10px;
  }

  &__social {
    display: flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin: 0 10px;
    fill: $light-white;
    transition: .3s;

    &:hover {
      fill: $light-green;
    }
  }
}