 
.header{ 
    z-index: 4;
    transition: 0.3s; 
    &-content{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
    align-items: center;
    } 
    .logo{
        display: none;
        @include lg{
            width: 150px;
            display: inline-block;
        }
        img{
         object-fit: contain;
         width: 150px;
         height: auto;
        } 
    }
    .logo-mobile{
        height: 41px;
        @include lg{
            display:none;
        }
    }
}

.fixed-header{
position: sticky;
top:0;
left:0;
right: 0;
}
 