.hero {
      background-size: 100% 100%;
      background-image: url(../images/hero-bg.jpg);
      @include lg {
            padding-left: 50px;
            padding-top: 50px;
            .pl-92-lg{
                  padding-left: 92px;
            }
      }
      &-overlay {
            background-image: url(../images/hero-over.jpg);
            background-size: cover; 
      }
      &-container{
            max-width: 820px;
      }

}