.section-accessories{
    background-color: $light-green;
    &:nth-child(even){
     
        .change-order{
            order:1;
        }
    }
    &__title{
        margin: 0;
        font-size: 22px;
        font-family: $fontMain;
        text-align: left;
        padding-bottom: 10px;
        line-height: 1.2;
        @media screen and(min-width: $md) {
            font-size: 28px;
            padding-bottom: 40px;
        } 
        @media screen and(min-width: $lg) {
            font-size: 36px;
            padding-bottom: 50px;
        }         
    }
    &__text{
        padding-bottom: 10px;
        font-family: $fontSecond;
        font-size: 14px;
        @media screen and(min-width: $md) {
            padding-bottom: 40px;
        } 
        @media screen and(min-width: $lg) {
            padding-bottom: 60px;
        }
    }
    &__card{
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;    
        height: 100%;
        width: 100%;   
        @media screen and(min-width: $lg) {
            padding: 0;
        } 
    }
    &__img{
        display: flex;
        align-items: center;   
        background-color: $green;
        max-height: 450px;
        height: 100%;
        max-width: 566px;
        width: 100%;
        border-radius: 25px; 
        @media screen and(min-width: $lg) {
            
        }    
        img{
           margin: 0 auto;
           display: block;
        }
    }
}