@import "base";

.section-accessories {
  background-color: $light-green;
  padding: 70px 0;
  @media screen and(min-width: $lg) {
    padding: 93px 0;
    &:nth-child(even) {
      .change-order {
        order: 1;
      }
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-family: $fontMain;
    padding-bottom: 10px;
    line-height: 1.2;
    @media screen and(min-width: $md) {
      font-size: 28px;
      padding-bottom: 40px;
    }
    @media screen and(min-width: $lg) {
      font-size: 36px;
      padding-bottom: 50px;
      text-align: left;
    }
  }

  &__text {
    text-align: center;
    padding-bottom: 10px;
    font-family: $fontSecond;
    font-size: 14px;
    @media screen and(min-width: $md) {
      padding-bottom: 40px;

    }
    @media screen and(min-width: $lg) {
      padding-bottom: 60px;
      text-align: left;
    }
  }

  &__card {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media screen and(min-width: $lg) {
      padding: 0;
      height: 100%;
    }
  }
  &__img-wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
  }

  &__img {
    display: flex;
    align-items: center;
    max-width: 566px;
    width: 100%;
    padding: 50px 0;
    background-color: $green;
    border-radius: 25px;
    padding-bottom: 100%;
    position: relative;

    @include sm{
      padding-bottom: 65%;
    }

    @include lg{
      padding-bottom: 80%;
    }

    img {
      border-radius: 25px;
      max-height: 100%;
    }
  }

  &__button {
    width: 100%;
    min-width: max-content;
    max-width: min-content;
  }
}


.section{
    padding-top: 50px;
    padding-bottom:50px;
    &__title{
        margin-bottom: 1em;
        margin-top: 5px;
        text-align: center;
        font-size: 22px;
        @include s {
            font-size: 30px;
        }
        @include sm {
            font-size: 35px;
        }
        @include md {
            font-size: 45px;
        }
        @include lg{
            font-size: 48px;
        }
    }
    &__title_half{
        font-size: 48px;
    }
    &__subtitle{
        text-align: center;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        @include sm {
            font-size: 14px;
        }
        @include lg {
            font-size: 18px;
        }
    }
    &__img{
        border-radius: 25px;
        overflow: hidden;
    }
}
        .section_parts{
            padding-top: 150px;
            padding-bottom: 150px;
        }

.section_link-to-blog{
    .link-to-blog__link{
        font-family: IBM Plex Mono;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.6;
        text-align: right;
        margin-bottom: 60px;
    }
}
