.shop-breand{
  position: relative;
  background-image: url("../images/brend-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(300deg, #CBDFD6 10.75%, #6c948a 100%);
  padding-top: 50px;
  &__container{
  	max-width: 1000px;
  	margin: 0 auto;
    min-height: 700px;
    @media screen and(min-width: $s){
      min-height: 975px;
    }
    @media screen and(min-width: $sm){
      min-height: 1070px;
    }
    @media screen and(min-width: $md){
      min-height: 770px;
    }
    @media screen and(min-width: $lg){
      min-height: 870px;
    }
  }
  &__title{
  	text-align: center;
  	padding-bottom: 40px;
  	@media screen and(min-width: $md) {
        padding-bottom: 60px;
  	}
  	@media screen and(min-width: $md) {
        padding-bottom: 100px;
  	}
  }

  &__block{
  	display: flex;
  	flex-wrap: wrap;
    justify-content: space-around;  	 
    align-items: center;
    padding: 0 40px;
    @media screen and(min-width: $md) {
      justify-content: space-between;
    }
    @media screen and(min-width: $lg) {
      padding: 0;
    }
  }
  
  &__logo{
  	width: 38%;
  	text-align: center;
    padding-bottom: 60px;
    img{
      max-height: 150px;
    }
  	@media screen and(min-width: $md) {
        width: 28%; 
  	}
  	@media screen and(min-width: $lg) {
        width: 21%; 
        padding-bottom: 100px;
  	}
    &_height{
      img{
        max-height: 90px;
      }      
    }
  }
} 